<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>

</head>
<body>
    <div>
        <center>
        <h2>Calculator</h2>

        <form action="">
            <h4>Input 1</h4>
            <input name = 'numb1' type="number">
            <h4>Input 2</h4>
            <input name = 'numb2' type="number">
            <br>
            <br>
            <br>
            <button type="submit">Calculate</button>
        </form>
        </center>
    </div>
</body>
</html>